*{margin: 0; padding: 0;}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Playfair+Display:wght@700&display=swap');



.mainft{
    margin-top:680px;
    height: 215px;
}


.tech_list{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-gap:5px;
    margin-bottom: 20px;
}


.tech_list div{
    background-color: #fff;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}


.tech_list div img{
    width: 40%;
    padding: 20px;
    text-align: center;
    align-items: center;
}




.tech_cat{
    background-color: indianred;
    padding: 20px;
}

.main_tech{
   
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    padding: 5px;
    grid-gap:2.5px
}

.main_tech div{
    
    text-align: justify;
    background-color: #ffff;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  

    
}


.main_tech div img{
    width: 100%;
}


.main_tech div h4{
    text-align: center;
    background-color: rgb(229, 232, 238);
    padding: 10px;
    border-radius: 10px;
    transition: 0.4s;
    transform: skewy(50deg);
    width: 80%;
   
}
.main_tech div h4:hover{
    background-color: #3749BB;
}
.main_tech div h4:hover a{
    color:#ffff;
}


.main_tech div h4 a{
    color: #3749BB;
    transition: 0.4s;
}









@media only screen and (min-width:200px) and (max-width:550px){
    
    .main_tech div{
        flex-basis: 50%;
    }

}